<aside class="sidebar" id="sidebar">
  <div class="brand">WSMS</div>
  <nav class="nav">
    <a href="{{ url_for('main.admin_dashboard') }}"><i class="fas fa-home"></i> Dashboard</a>

    <a href="" class="has-submenu js-submenu-toggle">
      <i class="fas fa-water"></i>
      <span>Source</span>
      <i class="fas fa-chevron-down nav-arrow"></i>
    </a>
    <div class="submenu">
      <a href="{{ url_for('source.list_sources') }}" class="submenu-item">Water_source</a>
    </div>

    <a href="" class="has-submenu js-submenu-toggle">
      <i class="fas fa-prescription-bottle-alt"></i>
      <span>Treatment</span>
      <i class="fas fa-chevron-down nav-arrow"></i>
    </a>

    <div class="submenu">
      <a href="{{ url_for('treatment_record.list_records') }}" class="submenu-item">Treatment_Record</a>
      <a href="{{ url_for('chemical.list_chemicals') }}" class="submenu-item">Chemical</a>
    </div>

    <a href="" class="has-submenu js-submenu-toggle">
      <i class="fas fa-flask"></i>
      <span>Storage</span>
      <i class="fas fa-chevron-down nav-arrow"></i>
    </a>
    <div class="submenu">
      <a href="{{ url_for('storage_tank.list_tanks') }}" class="submenu-item">Storage_tank</a>
    </div>

    <a href="{{ url_for('auth.logout') }}">
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </a>
  </nav>
</aside>
